body{
    width: 1349px;
}
/*this div hold the all contain of this page*/
#main_div{
    width: 1349px;
}
/*head_div hold the menu of headder part of the page*/
#head_div{
    margin-top: -9px;
    margin-right: -8px;
    margin-left: -8px;
    width: 1348px;
    height: 40px;
    border: 1px solid grey;
}
/*menues div hold the all menus it's a child of head div*/
.menues{
    float: left;
    height: 40px;
    width: 93px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
/*it's class of ancher tag of menus*/
.menues_list{
    float: left;
    text-align: center;
    padding-top: 8px;
    height: 32px;
    width: 58px;
    border-right: 1px solid grey;
    
    
}
/*it's a formate of ancher tag*/
a{
    text-decoration: none;
    color: black;
}
/*it's a head div class that formate of all contain of this class*/
.head{
    float: left;
    height: 100%;
}
/*menues_div a id off menues_div that is used to formate all contain of this div*/
#menues_div{
    float: left;
    width: 960px;
    height: 100%;
}
/*it's a class of search_content div that hold the search text box and search image button option*/
.search_content{
    float: left;
    background-color: #e4e4e4;
    border: none;
    height: 21px;
}
/*it's a id of image of search optiopn*/
#search_img{
    padding-top: 4px;
    height: 19px;
}
/*it's a class of head_o_menu that create a sapce from right side of the page of head section*/
.head_o_menu{
    width: 186px;
    //background-color: red;
}
/*it's a id of content div that contain the main objetc of the page*/
#conten_div{
    margin-top: -9px;
    margin-right: -8px;
    margin-left: -8px;
    width: 1348px;
    height: 100vh;
}
/*this class is used to create a space from contain to left and right*/
.space_from_contener{
    float: left;
    width: 186px;
    height: 100%;
    //background-color: red;
}
/*this id is used to set a position of contain div it's child of contain div and shivling of advertise div*/
#div_middle_contener{
    float: left;
    width: 72%;
    height: 1730px;
}
/*this id is used to mention the position of advertise div it's a shivling of div_middle_content and child of contain div*/
#advertisement{
    margin:  0px;
    padding-top: 10px;
    
}
/*this class is uesd to set the display style*/
.addvetise{
    display: table-row;
    
    
}
/*this class is uesd to define a height and width of main div*/
.main_content_class{
    width: 100%;
    height: 100%;
}
/*this id is uesd to set the size of contain div*/
#content{
    width: 100%;
    height: 100%;
}
/*this id is used to set the position*/
#content_list{
    float: left;
    width: 66%;
    height: 100%;
    //border: 1px solid black;
}
/*this id is set for sub div of contain div*/
#sub_content{
    margin-left: 15px;
    float: left;
    width: 32%;
    height: 100%;
    //border: 1px solid black;
}
/*this id is used to set the line after the day_recomand div*/
#recomand_page_of_day{
    width: 100%;
    height: 200px;
    border-bottom:  1px solid gray;
}
/*it's a class of the line that is is used to saperate every portion of contain*/
.recomand_day_class{
    float: left;
    width: 25%;
}
/*this id is used to set a size of news div*/
#news{
    width: 100%;
    height: 400px;
    border-bottom:  1px solid gray;
}
/*this class is used to set the position of news div*/
.news_class{
    float: left;
    width: 50%;
}
/*this class is used set o position of all sub div of news div*/
.news_class_same{
    float: left;
    width: 25%;
    
}
/*this id is uesd to set a size of region div*/
#reagion_like_india{
    width: 100%;
    height: 300px;
    border-bottom:  1px solid gray;
}
/*this class is used to set a position of region div*/
.reagion_class{
    float: left;
    width: 50%;
}
/*this class is used to set a position of sub div of addvertise div*/
.sub_content_add1{
    float: right;
}
/*this id is used to set a size of weather div*/
#weather_div{
    width: 100%;
    height: 400px;
    //border: 1px solid black;
}
/*this define the lanuagess div of this page */
#bbc_language{
    
    float: left;
    width: 97%;
    height: 250px;
    background-color: rgb(215,215,215);
    padding-left: 20px;
    
}
/*it's a class off unorderlist of languagesss*/
.ul_list_languages{
    margin-left: 25px;
    list-style: none;
    float: left;
}
/*this is a id of div of language list one*/
#lang_list1{
    margin: 0px auto;
}
/*this id is used to set a possition of footer div of this page*/
#footer{    
    float: left;
    width: 971px;
    height: 380px;
    //border: 1px solid black;
    background-color: #aeaeae;
    
    
    
}
/*it's a class off unorderlist of footer list*/
.ul_footer_list1{
    margin-left: 25px;
    list-style: none;
    float: left;
}
/*this class mention the the seze and position off inner footer div that hold the image of bbc icon*/
.inner_div_footer{
    float: left; 
    font-size: 20px;
    margin-top: 50px;
}
/*this id is uesd to set a size and set a position of of blog div of footer div that holds the coppyright*/
#blog_foot{
    float: left;
    width: 971px;
    height: 200px;
    background-color: #646464;
    color: #FFF;
}
/*this id is used to sed a size of bbc footer icon image in inner_footer div*/
#blog_foot_img{
    margin: 40px;
    float: left;
}
/*this id is used to set the position of list of bbc contain*/
#blog_foot__list{
    float: left;
    color: white;
    margin-left: 200px;
}
/**/
#blog_copy_right{
    float: left;
    margin: 40px;
    color: white;
}