body{
    height: 100vh;
}
#head_div{
    margin-top: -9px;
    margin-right: -8px;
    margin-left: -8px;
    width: 101%;
    height: 40px;
    border: 1px solid black;
}
.menues{
    float: left;
    height: 40px;
    width: 93px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.menues_list{
    float: left;
    height: 40px;
    width: 53px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}
.menu_span{
    position: initial;
    margin-top: 20px;
}
.head{
    float: left;
    height: 100%;
}
#menues_div{
    float: left;
    width: 72%;
    height: 100%;
    
}
.head_o_menu{
    width: 14%;
    //background-color: red;
}