body{
    
}
#conten_div{
    
    margin: 0px auto;
    height: 645px;
    width: 800px;
    background-color: #EDF6FF;
}
.mention_line{
    margin: 0px auto;
    width: 106px;
}
.controls_div{
    padding-top: 30px;
    height: 5px;
}

label{
    float: left;
    width: 45%;
    text-align: right;
    margin-right: 10px;
    
}
input{
    float: left;
}
h6{
    float: left;
    margin: 0px;
    margin-top: 5px;
    color: red;
}
.gender{
    float: left;
    margin-top: 0px;
}
textarea{
    float: left;
    resize: none;
     
}
p{
    float: left;
    margin: 0px;
    margin-right: 3px;
}
.button_div{
    margin: 0px auto;
    margin-top: 50px;
    width: 40px;
    height: 5px;
}
