body{
    height: 625px;
    width: 1300px;
}
.component_formate{
     position:absolute;
    top: 30px;
    left: 15px;
    height: 100px;
    width: 100px;
    background-color: grey;
    
    
}
#click_button{
    
}
#div_contenr{
    position: absolute;
}
#how_result{
    float: left;
    margin: 0px auto;
}
#div_menue{
    width: 1300px;
    height: 100px;
}